---
import MainLayout from "../layouts/mainLayout.astro";
import PreFooterCTA from "../components/PreFooterCTA.astro";
import pagesBG from "../images/pages-hero-bg.jpg";


---
<MainLayout title="Prijzen voor een nieuwe website - NewFront">
    <!-- Hero sectie -->
<section style={`background-image: url('${pagesBG.src}')`} class="bg-no-repeat bg-cover bg-top content-end -mt-32 font-bold">
    <div class="flex flex-col md:flex-row mx-auto max-w-screen-xl gap-8 pt-44 px-4">
        <div class="w-full md:w-1/2 mt-6 mx-auto md:m-0 pb-20">
            <h1 class="uppercase font-black text-4xl text-left">Bedankt!</h1>
            <p class="text-left">We nemen zo snel mogelijk contact met je op.</p>
        </div>
    </div>
    <div class="bg-gradient-to-b from-transparent to-white min-h-10"></div>
</section>
<!-- Einde hero sectie -->



    
</MainLayout>