<footer class="bg-slate-900 py-24 px-8 text-white">
    <div class="flex gap-32 justify-between">
        <div class="w-5/12">
            <h6 class="mb-8">logo</h6>
            <div>De specialist in websites voor kleine en middelgrote ondernemingen. Sinds 2015 streven we naar de ultieme prijs-kwaliteitverhouding voor al onze klanten. Gelegen in de parel van de Kempen te Westerlo.</div>
            <a href="/" class="border-white border-2 border-solid py-2 px-6 rounded-full inline-block mt-8">Start nu</a>
        </div>
        <div class="w-5/12">
            <h6 class="mb-8 text-2xl uppercase">Navigatie</h6>
            <div class="flex gap-24">
                <ul>
                    <li>Home</li>
                    <li>Over ons</li>
                    <li>Webdesign</li>
                    <li>Prijzen</li>
                </ul>
                <ul>
                    <li>Blog</li>
                    <li>Veelgestelde vragen</li>
                    <li>Contact</li>
                </ul>
            </div>

        </div>
        <div class="w-2/12">
            <h6 class="mb-8 text-2xl uppercase">Contact info</h6>
            <ul>
                <li>24/7</li>
                <li>0496 99 01 30</li>
                <li>nick@newfront.be</li>
                <li>Westerlo, België</li>
            </ul>
        </div>
    </div>
</footer>