---
import preFooterBG from "../images/prefooter-bg.jpg";
---

<div style={`background-image: url('${preFooterBG.src}')`} class="bg-no-repeat bg-cover mx-auto max-w-screen-xl p-12 rounded-lg text-center mb-8">
    <span class="uppercase mb-4 text-sky-400 text-sm block font-bold">Ben je er klaar voor?</span>
    <span class="uppercase font-extrabold text-2xl mb-4 inline-block">Heb je nog vragen of wil je er meteen aan beginnen?</span>
    <div class="px-8">
        <p>Bezoek het <a href="/contact" class="underline">contactformulier</a> of stuur me een bericht via whatsapp. We beantwoorden elk bericht binnen 24 uur. Je kan ons ook opbellen, als we je oproep gemist hebben bellen we dezelfde dag nog terug.</p>
    </div>
    <a href="/contact" class="bg-sky-950 rounded-full text-white uppercase font-bold px-5 p-2 mt-6 inline-block">Start nu</a>
</div>