---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</head>
<body class="text-sky-950">
    <Header />
    <slot />
    <Footer />
</body>
</html>